.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 14px;
  color: #212121;
  background-color: #FFFFFF;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

textarea {
  resize: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  color: #212121;
}

.link {
  text-decoration: none;
}
.link:hover, .link :focus {
  color: #2196F3;
}

.list {
  list-style: none;
}

.icon {
  fill: currentColor;
}

.logo {
  display: block;
  font-size: 26px;
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}
.logo__accent {
  color: #2196F3;
}
.logo__header {
  color: #000000;
  margin-right: 93px;
}
.logo__footer {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.header__contacts--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 10px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 280px;
  margin-bottom: 94px;
}
.hero__title {
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  color: #FFFFFF;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
}
.hero__button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 216px;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button :focus {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.benefits {
  margin-bottom: 94px;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.benefits__item {
  width: calc((100% - 90px) / 4);
}
.benefits__title {
  margin-top: 30px;
  font-weight: 700;
  letter-spacing: 0.42px;
}
.benefits__text {
  margin-top: 10px;
  color: #757575;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

.benefits__item:before {
  content: "";
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.benefits__item:nth-child(1):before {
  background-size: 70px;
  background-image: url(../images/antenna.svg);
}

.benefits__item:nth-child(2):before {
  background-size: 70px;
  background-image: url(../images/clock.svg);
}

.benefits__item:nth-child(3):before {
  background-size: 70px;
  background-image: url(../images/diagram.svg);
}

.benefits__item:nth-child(4):before {
  background-size: 70px;
  background-image: url(../images/astronaut.svg);
}

.products {
  margin-bottom: 94px;
}
.products__title {
  margin-bottom: 50px;
}
.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.products__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.products__item:before {
  content: "";
  position: absolute;
  bottom: 0px;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.products__item--title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0px;
  width: 100%;
  height: 70px;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 0.42px;
}

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__title {
  margin-bottom: 50px;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.team__card {
  width: calc((100% - 90px) / 4);
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card--img {
  margin-bottom: 30px;
}
.team__card--title {
  text-align: center;
  margin-bottom: 10px;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.team__card--text {
  text-align: center;
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  letter-spacing: 0.48px;
}
.team__card--social {
  margin-bottom: 30px;
}
.team__card--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link :focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.partners__title {
  margin-top: 94px;
}
.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}
.partners__item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}
.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px #AFB1B8 solid;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:hover, .partners__link :focus {
  color: #2196F3;
  border-color: #2196F3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
.footer__title {
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__social {
  margin-top: 20px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon {
  fill: #FFFFFF;
}
.footer__form {
  margin-left: 93px;
}
.footer__input {
  width: 358px;
  height: 50px;
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__link:hover, .footer__link :focus {
  background-color: #2196F3;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address {
  font-style: normal;
}
.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  letter-spacing: 0.42px;
}
.address__link--location {
  color: #FFFFFF;
}

.join__in {
  margin-left: 70px;
}

.footer__form--title {
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer__send--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-top: 20px;
}
.footer__send--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.96px;
}

.footer__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.icon__send {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is__hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is__hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 40px;
}
.modal__title {
  margin-top: 40px;
  margin-bottom: 12px;
  text-align: center;
}
.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px rgba(33, 33, 33, 0.2) solid;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  min-height: 120px;
  padding: 12px 16px;
}
.modal__textarea:-moz-placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.12px;
}
.modal__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.12px;
}
.modal__textarea:placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.12px;
}

textarea {
  resize: none;
}

.modal__input:hover, .modal__input :focus {
  border-color: #2196F3;
}
.modal__input:hover + .form__icon, .modal__input :focus + .form__icon {
  fill: #2196F3;
}

.button__close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  cursor: pointer;
}
.button__close:hover, .button__close :focus {
  fill: #2196F3;
}

.form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.form__label {
  display: inline-block;
  margin-bottom: 4px;
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.12px;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label__contract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto 30px auto;
}

.icon__checkbox {
  display: block;
  margin-right: 7px;
  border: 2px #212121 solid;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox:checked + .icon__checkbox {
  background-color: #2196F3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196F3;
}/*# sourceMappingURL=main.css.map */